# bot_credentials.txt.dist
# This file contains an example of the bot credentials for your Telegram bot.

# Bot token (required)
BOT_TOKEN = Your Bot Token

# Bot name (optional)
BOT_NAME = Your Bot Name